
#footer {
    background-color: rgb(241, 229, 205);
    height: 55vh;
}
#footerFirstHalf {
    display: flex;
}
ul {
    list-style-type: none;
    font-size: larger;
    color: black;
    line-height: 150%;
}
li {
    color:  grey;
}
#footerSecondHalf {
    display: flex;
    height: 5vh;
    margin: auto;
    justify-content: space-around;
}
#extraInfo {
    width: 50%;
}
#extraInfo > p {
    margin: 0;
}
#socialMedia {
    display: flex;
    width: 30%;
    justify-content: space-around;
}
#socialMedia > img {
    display: block;
}
