body {
    background-color: mintcream;
    padding: 0 5%;
}

#background > img {
    display: block;
    margin: 3% auto;
}

#searchHistory {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
#searchHistory > div {
    width: 23%;
}
#searchHistory > div > :nth-child(n) {
    margin-top: 1%;
    margin-bottom: 1%;
}
#searchHistory > div > img {
    width: 100%;
}
#searchHistory > div > button {
    display: block;
    margin-left: auto;
}

#bestTours {
    display: flex;
    margin: 5% auto;
    background-color: rgb(190, 216, 243);
}
#bestTours > div {
    margin-right: auto;
    padding-left: 3%;
}
#bestTours > div > p {
    margin: 0 auto;

}
#bestTours > div > button {
    background-color: black;
    border-radius: 50px;
    color: white;
    margin-top: 5%;
    padding: 3%;
}
#bestTours > img {
    width: 25%;
}

h1 {
    margin-top: 7%;
}

.spots {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.spots > div {
    width: 23%;
}
.spots > div > :nth-child(n) {
    margin-top: 1%;
    margin-bottom: 1%;
}
.spots > div > img {
    width: 100%;
}
.spots > div > button {
    display: block;
    margin-left: auto;
} 

#explore {
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-align: center;
}
#explore > div {
    width: 30%;
}
#explore > div > img {
    width: 100%;
}

#bestTravellersChoice {
    display: flex;
    margin: 5% auto;
    background-color: rgb(0, 78, 26);
}
#bestTravellersChoice > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    padding-left: 3%;
    width: 50%;
}
#bestTravellersChoice > div > img  {
    width: 40%;
    margin: 5% auto;
}
#bestTravellersChoice > div > h1 {
    margin: 0 auto;
    color: white;
}
#bestTravellersChoice > div > button {
    background-color: black;
    border-radius: 50px;
    color: white;
    margin-top: 5%;
    padding: 3%;
}
#bestTravellersChoice > img {
    width: 50%;
}