body {
    background-color: mintcream;
    padding: 0 5%;
}

#options {
    display: flex;
    height: 10vh;
    justify-content: space-around;
}
#logo {
    margin-right: 40%;
}
#tabs {
    display: flex;
    height: 15vh;
    margin: 2vh 0;
    justify-content: space-around;
}
#tabs > :nth-child(n) {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    width: 15%;
}
#tabs > :nth-child(n):hover {
    background-color: black;
    color: white;
}

#searchDiv {
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin-top: 10vh;
}
#search {
    display: block;
    margin: auto;
    width: 80%;
    padding: 2vh 3vh;
    font-size: larger;
}
#searchDiv > button {
    display: block;
    width: 70%;
    height: 70%;
    margin: auto auto auto 0;
}
#searchDiv > img {
    display: block;
    margin: 3% auto;
    grid-area: 2/1/3/3;
}

#searchHistory {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
#searchHistory > div {
    width: 23%;
}
#searchHistory > div > :nth-child(n) {
    margin-top: 1%;
    margin-bottom: 1%;
}
#searchHistory > div > img {
    width: 100%;
}
#searchHistory > div > button {
    display: block;
    margin-left: auto;
}

#bestTours {
    display: flex;
    margin: 5% auto;
    background-color: rgb(190, 216, 243);
}
#bestTours > div {
    margin-right: auto;
    padding-left: 3%;
}
#bestTours > div > p {
    margin: 0 auto;

}
#bestTours > div > button {
    background-color: black;
    border-radius: 50px;
    color: white;
    margin-top: 5%;
    padding: 3%;
}
#bestTours > img {
    width: 25%;
}

h1 {
    margin-top: 7%;
}

.spots {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.spots > div {
    width: 23%;
}
.spots > div > :nth-child(n) {
    margin-top: 1%;
    margin-bottom: 1%;
}
.spots > div > img {
    width: 100%;
}
.spots > div > button {
    display: block;
    margin-left: auto;
} 

#explore {
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-align: center;
}
#explore > div {
    width: 30%;
}
#explore > div > img {
    width: 100%;
}

#bestTravellersChoice {
    display: flex;
    margin: 5% auto;
    background-color: rgb(0, 78, 26);
}
#bestTravellersChoice > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    padding-left: 3%;
    width: 50%;
}
#bestTravellersChoice > div > img  {
    width: 40%;
    margin: 5% auto;
}
#bestTravellersChoice > div > h1 {
    margin: 0 auto;
    color: white;
}
#bestTravellersChoice > div > button {
    background-color: black;
    border-radius: 50px;
    color: white;
    margin-top: 5%;
    padding: 3%;
}
#bestTravellersChoice > img {
    width: 50%;
}

#footer {
    background-color: rgb(241, 229, 205);
    height: 55vh;
}
#footerFirstHalf {
    display: flex;
}
ul {
    list-style-type: none;
    font-size: larger;
    color: black;
    line-height: 150%;
}
li {
    color:  grey;
}
#footerSecondHalf {
    display: flex;
    height: 5vh;
    margin: auto;
    justify-content: space-around;
}
#extraInfo {
    width: 50%;
}
#extraInfo > p {
    margin: 0;
}
#socialMedia {
    display: flex;
    width: 30%;
    justify-content: space-around;
}
#socialMedia > img {
    display: block;
}
