#searchDiv {
    display: flex;
    margin: 5vh auto;
    justify-content: space-between;
}
#search {
    display: block;
    margin: auto;
    width: 70%;
    padding: 2vh 3vh;
    font-size: larger;
}
#searchDiv > button {
    display: block;
    margin: auto;
    width: 20%;
    padding: 2vh 3vh;
}

#main {
    display: flex;
}

#filters {
    display: flex;
    flex-direction: column;
    width: 20%;
}
#filters > div {
    display: flex;
    flex-direction: column;
}

#resultSortHotels {
    flex-grow: 1;
}
#resultAndSort {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#resultAndSort > :nth-child(n) {
    display: block;
}

/* not working 
.hotel {
    display: flex;
}
.hotelInfo {
    background-color: red;
}
.infoSections {
    display: flex;
}
img {
    width: 100px;
}
 */










