body {
    background-color: mintcream;
    padding: 0 5%;
}

form {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
    align-items: center;
    border: 1px solid black;
    padding: 1% 3%;
    border-radius: 10px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
form :nth-child(n) {
    margin-top: 3%;
    margin-bottom: 3%;
    display: block;
}
form > img {
    width: 50%;
}
form input {
    align-self: stretch;
    box-sizing: border-box;
    height: 3vw;
    font-size: large;
    padding-left: 3%;
    padding-right: 3%;
    width: 100%;
}
form > label {
    margin: auto;
    width: 100%;
}
form > input[type=submit] {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}