body {
    background-color: mintcream;
    padding: 0 5%;
}

#options {
    display: flex;
    height: 10vh;
    justify-content: space-around;
}
#options img {
    height: 100%;
}
#logoDiv {
    margin-right: 40%;
}
#tabs {
    display: flex;
    height: 15vh;
    margin: 2vh 0;
    justify-content: space-around;
}
#tabs a {
    text-decoration: none;
    color: black;
}
#tabs > :nth-child(n) {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    width: 15%;
}
#tabs > :nth-child(n):hover, #options > :nth-child(n):hover {
    background-color: rgb(209, 209, 209);
}
